@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .moviePageLink {
    @apply text-gray-200 font-semibold font-roboto text-sm pl-1;
  }
  .signInInputCont {
    @apply flex flex-col mb-3;
  }
  .signInInput {
    @apply outline-none  border border-solid rounded-sm p-1  border-gray-400 mt-1 text-black;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
